@import "tailwindcss";

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --safe-area-top: env(safe-area-inset-top, 20px);
  --safe-area-bottom: env(safe-area-inset-bottom, 20px);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  background-color: #000;
  color: #000;
  touch-action: manipulation;
}

/* iOS-like Scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Animations */
@keyframes app-open {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes app-close {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.8); }
}
